---

services:
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:1
    restart: always
    ports:
      - 3001:3001
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/app/data