---

services:
  redis:
    container_name: redis
    image: redis:7.2.5  # Stable version before Redis 7.4.x issues
    restart: unless-stopped
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/data
